.SlotMachine {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c3f51;
  padding: 20px;
  border-radius: 10px;
}

.slots {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


@media (prefers-color-scheme: light) {
  .SlotMachine {
    background-color: #f0f0f0;
  }
}

/* 当视口宽度小于等于 768px 时应用这些样式 */
@media (max-width: 768px) {
  /* 适用于移动设备的样式 */
  .slots {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
}
